<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Document</title>
</head>
<body>
    <div class="error">
        <h3>
            {{ message }}
        </h3>
    </div>

    <div class="form_add_container">

        <div class="form_add">
            <form method="post">
                <label for="">Введіть id контакту який хочете видалити:</label>
                <input type="text" name="del_id" placeholder="Введіть id">

                <input type="submit" value="відправити" class="sbm">
        
            </form>
        </div>
        
    </div>
</body>
</html>