body {
    background-color: #FBF2E9;
    margin: 0;
  
}

.container {
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 50px;
    background-color: #FBF2E9;
    border: 2px solid rgb(139, 139, 139);
    border-radius: 8px;
}

.track {
    width: 450px;
    height: 10px;
    background-color: rgb(156, 179, 199);
}

.bar {
    width: 20px;
    height: 30px;
    background-color: rgb(75, 75, 74);
    z-index: 1;
    display: block;
    position: absolute;
    cursor: pointer;
    left: 40px;
    
}

