.headtext 
{
	text-align: center;
	color: rgb(6, 6, 153);
	
}

.headtext2
{
	
	color: #bfbbbb;
}
span.SAMPSON 
{
	
	font-style: italic;
	font-size: 14px;

}

.body
{
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}