<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/facts.css">
    <title>Факти про місто</title>
</head>
<body>
    {% include "nav.html"%}

    <div class="container-facts">
        <div class="content-facts">
            <h3>Пропонуємо вам п'ять історичних фактів, які не просто варто запам'ятати для себе, а й поділитися знаннями з іншими</h3>
            <p class="text-facts">Хмельницькому вже майже шість сотень, а є речі  та факти, про які й досі не знають його мешканці, гості та й навіть корінні жителі або ж  не впевнені в їх достовірності.</p>
            <h4>1. У статусі міста понад чотири століття</h4>
            <p class="text-facts">Документи кінця XVІ ст. свідчать про те, що десь саме в цей час Плоскирів отримав міські права та статус містечка,
                 а згодом й міста. Не виключено, що Плоскирову було надано Магдебурзьке право, хоча писемних документів про цей факт не виявлено. 
                 Але, про це свідчать непрямі факти – наприкінці XVІ ст. у Плоскирові був замок, діяли три ярмарки, серед населення було декілька 
                 десятків ремісників і купців. Все це у Середньовіччі було ознаками міського поселення.
            </p>
            <h4>2. Перший базар – за королівським привілеєм</h4>
            <p class="text-facts">
                У часи, коли Поділля входило до складу Речі Посполитої (XV–XVІІІ століття), збирати ярмарки та базари можна було лише за королівським дозволом. 
                У 1578 році польський король Стефан Баторій надав Плоскирову привілей на проведення  щорічних ярмарків на Новий Рік, на свята Св. 
                Віта та Різдво, а також щотижневих торгів по вівторках. Саме від того часу у місті з'явилась ярмаркова площа, 
                на якій були побудовані торгові ряди та перші власні купці-торговці.
            </p>
            <h4>3. Що залишилось від старого Проскурова?</h4>
            <p class="text-facts">
                Фактично, до початку ХІХ століття Проскурів мав переважно дерев'яну забудову. 
                Лише після пожежі 1824 року, яка знищила майже всі споруди, місто почали забудовувати кам'яними та цегляними будівлями. 
                На сьогодні найстарішою з існуючих споруд Хмельницького є храм Різдва Богородиці, що на вул. Соборній (поблизу продуктового ринку). 
                Новий кам'яний собор почали будувати у 1835 році на місці згорілої дерев'яної церкви, а вже за два роки його освятили. 
                Серед найстарших споруд міста фігурує й старий корпус в'язниці (нині – СІЗО № 29), що на вул. Кам'янецькій. 
                Його також було побудовано у 1830-х роках. Крім того, у місті збереглося з два десятки будівель, яким вже понад сто років.
            </p>
            <h4>4. Перший – не значить кращий</h4>
            <p class="text-facts">
                Першим міським головою, як свідчать історичні джерела, був такий собі К. Пенський. Його обрали у січні 1880 року, одразу після того, 
                як відбулася державна реформа міського самоврядування, під час якої впровадили міські органи влади, приблизно схожі на теперішні. 
                Тоді ж обрали і міську управу і думу – 19 гласних (по теперішньому – депутатів) від різних верств населення. За інформацією з архівних документів відомо, 
                що перший міський голова виявився безініціативним та був помічений у махінаціях, чим викликав незадоволення громади міста і губернської влади. 
                Через два роки його усунули від посади, й обов'язки голови до наступних виборів 1884 року виконували по черзі члени управи.
                Першим, і можливо єдиним проскурівчанином на посаді міського голови був Микола Сікора, якого обрали 1917 року. 
                До нього всі міські голови народилися не просто за межами міста, а й взагалі в інших регіонах. Родина Миколи Сікори здавна мешкала в Проскурові, 
                а його дід та батько були поважними у місті службовцями, та й самого Миколу Вікентійовича шанували – від 1904 року чотири рази підряд 
                обирали членом управи та гласним міської думи. До речі, ті, хто керували містом після Миколи Сікори, теж народилися не у Проскурові чи Хмельницькому, 
                хоча, значна частина з них родом із Хмельницького району.
            </p>
            <h4>5. Чи бував у місті Богдан Хмельницький?</h4>
            <p class="text-facts">
                Як би ми не бажали того, але нога Богдана Хмельницького ніколи не ступала на вулиці Хмельницького – тоді Плоскирова. 
                Найближчі до обласного центру населені пункти, в яких довелося зі своїм військом побувати славетному гетьманові під час війни 1648-1657 років – Пилява, 
                Старокостянтинів, Чорний Острів, Меджибіж. На відміну від цих міст і містечок, Плоскирів у ті роки не мав ані військово-стратегічного, 
                ані адміністративно-економічного значення, тому гетьману не було потреби спрямовувати на його здобуття головну армію. 
                Плоскирівський замок козаки підкорили силами середнього загону. Але, незважаючи на історичні факти, саме Проскурів у 1954 році перейменували на честь гетьмана. 
                До речі, Хмельницький має найбільшу в Україні та світі кількість пам'ятників гетьманові – чотири.
            </p>
        </div>
    </div>

    
   
</body>
</html>