<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/history.css">
    <title>Історія міста</title>
</head>

<body>
    {% include "nav.html"%}

    <div class="hist_container">
        <div class="hist_content1">
            <h1>Наше місто</h1>
            <h3>Місто Хмельницький</h3>
            <img src="/static/img/-2011-3.png" alt="">
            <div class="inf_container">
                <div class="city-inf-item">
                    <p class="h5_history">Засноване:
                    </p>
                    <span>в 1431 році
                    </span>
                </div>
                <div class="city-inf-item">
                    <p class="h5_history">Обласний центр:
                    </p>
                    <span>з 1941 року
                    </span>
                </div>
                <div class="city-inf-item">
                    <p class="h5_history">Населення:
                    </p>
                    <span>268,5 тис. (1.01. 2017)
                    </span>
                </div>
                <div class="city-inf-item">
                    <p class="h5_history">Площа:
                    </p>
                    <span>93,05 км²
                    </span>
                </div>
                <div class="city-inf-item">
                    <p class="h5_history">Густота населення:
                    </p>
                    <span>2 877,32 осіб/км²
                    </span>
                </div>
                <div class="city-inf-item">
                    <p class="h5_history">Поштові індекси:
                    </p>
                    <span>29000-499
                    </span>
                </div>
                <div class="city-inf-item">
                    <p class="h5_history">Телефонний код:
                    </p>
                    <span>+380-382 (2)
                    </span>
                </div>
                <div class="city-inf-item">
                    <p class="h5_history">Географічні координати:
                    </p>
                    <span>49°25' пн. ш., 27°0' сх. д.
                    </span>
                </div>

            </div>
        </div>


    </div>
    <div class="img_container">
        <img src="/static/img/layer-1.png" alt="">
        <img src="/static/img/layer-2.png" alt="">
    </div>

    <div class="cnt">
        <a class="link_people" href="http://127.0.0.1:5000/history/people">Знамениті люди    </a>
        <span class="sp"> &#8666; Натискай сюди</span>

    </div>
    <div class="cnt2">
        <a class="link_people" href="http://127.0.0.1:5000/history/photos">Історичні фото    </a>
        <span class="sp"> &#8666; Натискай сюди</span>
    </div>

    <div class="text_h_container">
        <div class="text_h_content">
            <h3>Історична довідка
            </h3>
            <p>Місто Хмельницький веде свій родовід від невеличкого поселення Плоскирів або Плоскирівці. Назва міста
                походить від назви річки Плоскої, в місці впадіння якої до Південного Бугу виникло стародавнє поселення.</p>
            <p>Перша документальна згадка про Плоскирів відноситься до першої половини XV століття. Польський король
                Владислав ІІ Ягайло в 1431 році надає вірній шляхті привілеї на подільські володіння. Серед населених
                пунктів, що згадуються у документах королівської канцелярії від того року, знаходимо поселення сільського
                типу (villa) під назвою Ploskirоwcze (Плоскирівці) та відповідний до цього запис: 10 лютого 1431 р. у місті
                Сопоті король Владислав ІІ Ягайло записує Янові Чанстуловському 100 гривень на володіння ”селами Голисин та
                Плоскирівці на річці Бог у Летичівському повіті Подільської землі”. В роки королювання (1434-1444 рр.)
                Владислава ІІІ нова згадка – підтверджується право на володіння поселенням, яке вже названо як Ploskirоw –
                Плоскирів.</p>
            <p>У 1578 році польський король Стефан Баторій надав Плоскирову статус містечка.</p>
            <p>З 1665 року до кінця 18-го століття містечком володіла родина польських магнатів Замойських, родинний герб
                яких (три перехрещені стріли на гербовому щиті) став основою герба Проскурова та сучасного Хмельницького.
            </p>
            <p>Після загарбання Поділля Російською імперією, 5 липня 1795 р. імператорським указом була утворена Подільська
                губернія. Один із повітів губернії став називатися Проскурівським, а його центром стає місто Проскурів. Саме
                в цьому імператорському указі вперше зустрічається назва “Проскурів”.</p>
            <p>На початку ХІХ ст. у Проскурові проживало близько 2 тисяч чоловік.</p>
            <p>У 1822 році місто винищила страшна пожежа. Новий план забудови Проскурова затвердив імператор Олександр І у
                1824 році. У 1837 році на місці згорілої церкви виріс новий собор – Церква Різдва Богородиці. Нині це
                найстаріша будівля із тих, що збереглися у місті.</p>
            <p>Прокладення у 1870 році залізничної колії через місто стало стимулом для бурхливого промислового розвитку
                Проскурова. У 1889 році побудовано тютюнову фабрику. У 1891 році став до ладу цукровий завод купця С.
                Маранця, у 1898 році – чавуноливарний завод Б. Ашкіназі, у 1899 році – цегельний завод Ш. Гальперіна, у 1901
                році – пивоварний завод Л. Кляве.</p>
            <p>У 1892 році у місті відкрито перший театр (нині – Міський будинок культури).</p>
            <p>У 1904 році – відкрито Олексіївське реальне училище (нині – приміщення міської ради).</p>
            <p>Станом на 1897 рік населення міста становило 22915 мешканців (із них православних – 29,8%, католиків – 30,1%,
                іудеїв – 39,5%).</p>
            <p>З утворенням 22 вересня 1937 року Кам'янець-Подільської області Проскурів опинився у її географічному центрі.
                Це обумовило перенесення у березні 1941 року в Проскурів адміністративного центру області.</p>
            <p>Під час Другої світової війни в окупованому Проскурові розгорнула боротьбу проти гітлерівських загарбників
                Проскурівська окружна підпільно-партизанська організація, члени якої зробили вагомий внесок у справу
                Перемоги.</p>
            <p>25 березня 1944 року військами І Українського фронту в ході Проскурівсько-Чернівецької операції місто було
                визволене від фашистських загарбників.</p>
            <p>У січні 1954 року Кам'янець-Подільська область була перейменована у Хмельницьку, а Проскурів - у місто
                Хмельницький, чим було вшановано пам'ять видатного державного та військового діяча України гетьмана Богдана
                Хмельницького.</p>
    
        </div>
    </div>



</body>

</html>