
<div class="header">
    <div class="menu">
        <div class="menu-item">
            <a href="http://127.0.0.1:5000/">Головна</a>    
        </div>
        <div class="menu-item">
            <a href="http://127.0.0.1:5000/news">Новини міста</a>   
        </div>
        <div class="menu-item"> 
            <a href="http://127.0.0.1:5000/management">Керівництво</a>    
        </div>
        <div class="menu-item">
            <a href="http://127.0.0.1:5000/facts">Факти про місто</a>    
        </div> 
        <div class="menu-item">
            <a href="http://127.0.0.1:5000/history">Історія</a>    
        </div>
        <div class="menu-item">
            <a href="http://127.0.0.1:5000/contacts">Контактні телефони міських служб</a>    
        </div>
        
        
    </div>
</div>