<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/people.css">
    <title>Люди</title>
</head>

<body>

    {% include "nav.html"%}

    <div class="fp_main">
        <div class="fp_container">
            <div class="fp-content">
                <div class="photo">
                    <img src="/static/img/mazur_foto.jpg" alt="">
                </div>
                <div class="fp_text">
                    <h3>Мазур Микола Іванович (1948-2015 рр.)</h3>
                    <p>
                        Геніальна і дуже самобутня людина: живописець, скульптор-монументаліст, графік, педагог.
                        Створюючи свої фантастичні скульптури в людних місцях міста Хмельницького, Микола Мазур створив
                        його своєрідну архітектурну ауру та імідж.
                        Народний художник України.
                    </p>
                </div>
            </div>
        </div>
        <div class="fp_container">
            <div class="fp-content">
                <div class="photo">
                    <img src="/static/img/Zenkovski.jpg" alt="">
                </div>
                <div class="fp_text">
                    <h3>Зеньковський Василь Васильович (1881-1962 рр.)</h3>
                    <p>
                        Народився у місті Проскурові (нині Хмельницький). Видатний вчений, християнський православний
                        мислитель, церковний і громадський діяч. Його ім'я здавна широко відоме на Заході й лише в
                        останні десятиліття набуло визнання в Україні та Росії. Він був філософом, богословом,
                        психологом, педагогом, істориком російської філософії, літературознавцем.

                        Його ім'ям названа одна з вулиць мікрорайону Книжківці.
                    </p>
                </div>
            </div>
        </div>
        <div class="fp_container">
            <div class="fp-content">
                <div class="photo">
                    <img src="/static/img/Mazyr.jpg" alt="">
                </div>
                <div class="fp_text">
                    <h3>Мазур Богдан Миколайович (1969 р.)</h3>
                    <p>
                        Народився у м. Хмельницькому. Автор відомих скульптур у багатьох куточках України. Богдан –
                        наймолодший Шевченківський лауреат - отримав премію у 28 років. У співавторстві з батьком,
                        Миколою Мазуром, створив низку найвідоміших пам'ятників міста Хмельницького.
                        Народний художник України.
                    </p>
                </div>
            </div>
        </div>
        <div class="fp_container">
            <div class="fp-content">
                <div class="photo">
                    <img src="/static/img/IMG_7969.jpg" alt="">
                </div>
                <div class="fp_text">
                    <h3>Мельничук Микола Леонтійович (1948 р.)</h3>
                    <p>
                        Художник-графік, художник-реставратор, іконописець, народний майстер декоративно-прикладного
                        мистецтва, член Національної спілки художників України.

                        При зустрічі з цією людиною нараз відчуваєш, що настрій піднімається, міцніє і, немов зсередини,
                        засвічується. Довколишній світ ніби перероджується, стає добрішим і кращим.
                    </p>
                </div>
            </div>
        </div>
        <div class="fp_container">
            <div class="fp-content">
                <div class="photo">
                    <img src="/static/img/misevisch.jpg" alt="">
                </div>
                <div class="fp_text">
                    <h3>Місевич Костянтин Федорович (1893-1943 рр.)</h3>
                    <p>
                        Уродженець села Лезневе Проскурівського повіту (нині мікрорайон Лезневе міста Хмельницького).
                        Видатний бандурист, засновник української кобзарської школи ХХ століття, діяч української
                        революції 1917-1920 років та руху опору в складі УПА.

                        Нині на честь Костя Місевича названа Школа кобзарського мистецтва української діаспори у США
                        (Нью-Йорк) та Всеукраїнський фестиваль кобзарського мистецтва.
                    </p>
                </div>
            </div>
        </div>
        <div class="fp_container">
            <div class="fp-content">
                <div class="photo">
                    <img src="/static/img/pavlovsky.jpg" alt="">
                </div>
                <div class="fp_text">
                    <h3>Павловський Михайло Антонович (1942-2004 рр.)</h3>
                    <p>
                        Народився у селі Ружична (нині мікрорайон міста Хмельницького).
                        Відомий вчений та політик, творець власної наукової школи з гіроскопів, навігаційних приладів і
                        комплексів, один з ініціаторів створення і перший декан факультету авіаційних та космічних
                        систем у Національному технічному університеті України "КПІ".

                        Його ім'я носить школа та вулиця у мікрорайоні Ружична.
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>