<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/photos.css">
    <title>Фото</title>
</head>
<body>
    
    {% include "nav.html"%}

    <div class="phot_cont">
        <div class="photos_h">
            <img src="/static/img/derevoeda_0.jpg" alt="" class="img_history">
            <img src="/static/img/ulproskur2.jpg" alt="" class="img_history">
            <img src="/static/img//kulturne_misto2_0_0.jpg" alt="" class="img_history">
            <img src="/static/img/kulturne_misto_0.jpg" alt="" class="img_history">
            <img src="/static/img/modesto_1.jpg" alt="" class="img_history">
            <img src="/static/img/modesto2_0.jpg" alt="" class="img_history">
            <img src="/static/img/prapor_yevropy_0.jpg" alt="" class="img_history">
            <img src="/static/img/doshka_poshany.jpg" alt="" class="img_history">
            <img src="/static/img/komfortne_misto__2.jpg" alt="" class="img_history">
    
        </div>
    </div>
    
   
</body>
</html>