body {
    background-image: url(./background.PNG);
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-container {
    width: 102.4%;
    height: 60px;
    background-color: #ECECEC;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;

}

.menu-items {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #183669;
}

.menu-logo {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    padding-right: 450px;

}

.menu-name1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-name2 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #A45D93;
}

.menu-name3 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #83909C;
    padding-top: 10px;

}

.menu-item {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 35px;
    padding-left: 40px;
}

a:hover {
    color: #A45D93;
}

.main-window {
    width: 100%;
    background-color: #475363;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
}

.aside1-text {
    color: #DBDDDC;
}

.aside-list {
    width: 100%;
    height: 40px;
    background-color: #373E48;
    display: flex;

    align-items: center;

    border-bottom: 2px solid #4B525C;
}
a .aside1-text:hover {
    color: #df79c7;
}

.altcode {
    color: #A45D93;
    padding-right: 10px;
    padding-left: 10px;
}

.aside1 {
    border: 1px rgb(94, 93, 93);
    border-style: inset;
    border-radius: 4px;
}

.aside2 {
    margin-top: 35px;
    background-color: #373E48;
    border: 1px rgb(94, 93, 93);
    border-style: inset;
    border-radius: 4px;
    color: #DBDDDC;
    padding-left: 10px;
    padding-right: 10px;
}

.coursive {
    color: #DBDDDC;
    font-style: italic;
}

.aside-link {
    text-decoration: underline;
    color: #df79c7;

    display: flex;
    justify-content: end;

}

.link-in-text {
    text-decoration: underline;
    color: #df79c7;
}

h2 {
    margin-top: 0px;
    color: #DBDDDC;
}

h3 {
    color: #DBDDDC;
    padding-top: 20px;
}

h4 {
    color: #DBDDDC;
    margin-bottom: 10px;
    margin-top: 0px;
}

.text {
    color: #DBDDDC;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 12px;
    margin-right: 20px;
    padding-top: 10px;
}

.image {
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 2px 12px #697689;
}
.image:hover {
    transform: scale(1.1);
    transition: 1s;
}

.lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    color: #DBDDDC;
    padding-left: 20px;
    margin-top: 0px;
}

ol {
    color: #DBDDDC;
    padding-left: 20px;
    margin-top: 0px;
}

.row1 {
    background-color: #292E34;
    color: #DBDDDC;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.main-table {
    width: 100%;
    table-layout: auto;
}

td {
    background-color: #373E48;
    color: #DBDDDC;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

table tr td:nth-child(1) {
    width: 20%;
}

table tr td:nth-child(2) {
    width: 40%;
}

table tr td:nth-child(3) {
    width: 40%;
}

.inptext {
    width: 300px;
    height: 30px;
    padding-left: 10px;
    border-radius: 8px;
    font-weight: bold;
}

.selector {
    width: 315px;
    height: 35px;
    padding-left: 5px;
    border-radius: 8px;
}

.btn {
    color: #DBDDDC;
    background: #df79c7;
    width: 100px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px;
}

.btn:hover {
    background-image: radial-gradient(ellipse farthest-corner at 50% 50%, #df79c7, rgb(214, 157, 157));
    /* Радиальный градиент, переход цвета от центра к краям */
}

.footer-content {
    display: flex;
    justify-content: center;
}